<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Portal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>
<body>
<div th:fragment="layout" class="d-flex min-vh-100">
    <div class="sidebar" th:insert="~{fragments/sidebar :: sidebar}"></div>
    <main class="container-fluid py-4 flex-fill">
        <div th:insert="~{::content}" class="w-100"></div>
    </main>
</div>
</body>
</html>